html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canv {
    display: none;
    background-color: transparent;
    overflow: hidden;
}

#canv2 {
    position: absolute;
    left: 15%;
    display: block;
    border: 2px solid black;
    overflow: hidden;
}
