#ticker {
    height: 30px;
    white-space: nowrap;
    position: absolute;
}

#ticker a {
    text-decoration: none;
    color: grey;
    font: 25px;
    padding-right: 110px;
}

#ticker a:hover {
    text-decoration: underline;
    color: blue;
}
#bottomticker a:hover {
    text-decoration: underline;
    color: blue;
}

#bottomticker {
    position: fixed;
    bottom: 0px;
    height: 30px;
    white-space: nowrap;
    right: 100%;
}

#bottomticker a {
    text-decoration: none;
    color: grey;
    font: 25px;
    right: 0px;
    padding-right: 110px;
}
